{% extends 'base.html' %}
{% block content %}
<h1>Список машин</h1>
    <ul style="">
        {% for machine in status %}
        Машина {{ machine.name }}
        <ul>
            <li>Количество доступных ядер: {{ machine.cores }}</li>
            <li>Операционная система: {{ machine.os }}</li>
        </ul>
        {% endfor %}
    </ul>
<h1>Add new machine</h1>
<form method="POST">
    <div><label>IP: <input type="text" name="ip"></label></div>
    <br>
    <button type="submit">Add machine</button>
</form>
{% endblock %}